[submodule "example_comparing_serps/SCM-at-ARQMath"]
	path = example_soft_cosine_measure/scm_at_arqmath
	url = https://github.com/MIR-MU/SCM-at-ARQMath.git
[submodule "visualization"]
	path = visualization
	url = https://github.com/MIR-MU/document-maps-visualization.git
